html, body {
  height: 100%; //親要素の高さを最大化
}

#calculator {
  hight: 100%; //親要素の高さに合わせて最大化
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#display {
  display: inline-block;
  min-width: 5.4em;
  color: white;
  background: black;
  padding: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.row {
  display: flex;
  flex: 1;
}

.numberButtons {
  width: 2em;
  color: white;
  background: black;
}

.operatorButtons {
  width: 2em;
  color: white;
  background: black;
}

#clear {
  width: 4em;
}

#zero {
  width: 4em;
}
